/*-- -------------------- CSS -------------------- -- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
}
.Button {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #444638;
  font-size: 20px;
  position: relative;
  border-radius: 80em;
  background-color: #11190c;
  border: 0.125rem solid #11190c;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  padding: 10px 20px;
  display: inline-block;
  margin-top: clamp(1px, 5.3333333333vw, 40.96px);
}
.Button:hover {
  background-color: #e6ff00;
  border-color: #e6ff00;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transform: scale(1.07);
  will-change: transform;
  color: #11190c;
}
.Button:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 80em;
  background-color: #e6ff00;
}
.Button:hover:after {
  transform: translate(0);
  z-index: 0;
}
.Button > * {
  position: relative;
  z-index: 1;
}
.Button__inner {
  color: #e6ff00;
}
.Button:hover .Button__inner {
  color: #11190c;
}
